In [ ]:
## Quiz #0101
def averageH(list):
    sumH = 0
    for i in list:
        sumH = sumH + i

    avgH = sumH / len(list)
    return avgH
list_height_CA = [161.5,165.9,168.7,163.1,170.8,167.2]
list_height_CB = [172.5 , 162.9 ,161.7 ,160.1 ,161.8,169.2 ]
print("The mean height in classA is", averageH(list_height_CA))
print("The mean height in classB is", averageH(list_height_CB))
list_height_CAB = list_height_CA + list_height_CB
print("The mean height in classAB is", averageH(list_height_CAB))
list_height_CAB.sort()
print(list_height_CAB)
C =[]
for x in list_height_CAB:
  if x<165:
    C.append(x)
print(C)
D=[]
for j in list_height_CAB:
  if ((x>160) and (x<170)):
    D.append(j)
print(D)

The mean height in classA is 166.20000000000002
The mean height in classB is 164.70000000000002
The mean height in classAB is 165.45000000000002
[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]
[160.1, 161.5, 161.7, 161.8, 162.9, 163.1]
[]

In [ ]:
## Quiz #0102 
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new = list(map(lambda x: x + 1, a))
print(new)

a = [2, 4, 6, 8, 10]
b = [10, 8, 6, 4, 2]
NEW_mul=list(map(lambda x,y:x*y,a,b))
print(NEW_mul)

ListMUL5=list(filter(lambda x : x%5==0 , range(1,101)))
print(ListMUL5)

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]
ListH=list(filter(lambda x : x>160 , a))
print(ListH)

ListHC = list(filter(lambda x : x>160 and x<165 , a))
print(ListHC)

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']
ListJ=list(filter(lambda c : c[0]=="J" , a))
print(ListJ)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[20, 32, 36, 32, 20]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]
[160.3, 161.1, 164.9]
['Jack', 'Jennifer', 'John']

In [ ]:
## Quiz #0103 
class Calculator: 
    def __init__(self,x,y):
        self.x=x 
        self.y=y 
    def add(self): 
        return self.x+ self.y 
    def subtract(self): 
        return self.x - self.y 
    def multiply(self): 
        return self.x * self.y 
    def divide(self): 
        if self.y==0: 
            return "You can t divide by zero!" 
        else: 
            return self.x/self.y

calc1=Calculator(5,3)
calc2=Calculator(10,2)
print(calc1.add())
print(calc1.subtract())
print(calc1.multiply())
print(calc1.divide())
print(calc2.add())
print(calc2.subtract())
print(calc2.multiply())
print(calc2.divide())

8
2
15
1.6666666666666667
12
8
20
5.0

In [ ]:
## Quiz #0104 
class Aquarium:
    def __init__(self):
        self.creatures=[]

    def enters(self,creature):
        self.creatures.append(creature)
    def leaves(self,creature):
        if creature not in self.creatures:
            print("creature doesn't exist in the aquarium")
        else : 
            self.creatures.remove(creature)
    def showall(self):
        for i in self.creatures:
            print(i)
 

my_aquarium=Aquarium()
my_aquarium.enters("Turtle")
my_aquarium.enters("Turtle")
my_aquarium.enters("Dolphin")
my_aquarium.enters("Sea lion")
my_aquarium.enters("Shark")
my_aquarium.showall()
my_aquarium.leaves("Sea lion")
my_aquarium.leaves("Killer whale")
my_aquarium.showall()
my_aquarium.leaves("Turtle")
my_aquarium.showall()

Turtle
Turtle
Dolphin
Sea lion
Shark
creature doesn't exist in the aquarium
Turtle
Turtle
Dolphin
Shark
Turtle
Dolphin
Shark

In [ ]:
## Quiz #0105 
import string
def ignore_punctuations(word):
    return "".join(i.lower() for i in word if i in string.ascii_letters)

def palindrome(d):
  B=ignore_punctuations(d)
  for c in B :
    T=B[::-1]
  if T==B:
    return "YES"
  else:
      return "NO"

In [ ]:
palindrome("Kayak")

'YES'

In [ ]:
palindrome("Madam, I'm Adam")

'YES'

In [ ]:
palindrome("Hello")

'NO'